.panel {
    max-width: 100vw;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 0, 70);
    overflow:hidden;
}
.loadingPanel{
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    z-index:10;
    left:0;
    background-color:red;
    background-color: rgb(21, 0, 70);
    justify-content: center;
    align-items: center;
}

.spline {

}

canvas {
    transform:scale(0.9) translateX(25vw);
}

.content{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    align-items: center;
    position:absolute;
}

.content h1 {
    margin:0;
    padding:0;
    color: black;
    text-align: right;
    z-index:2;
    color:white;
    /*text-align: right;*/
    text-align:center;
    /*margin-right:25vw;*/
    margin-right:30vw;
    /*margin-top:35vh;*/
    margin-top:40vh;
    font-family: 'Bebas Neue', sans-serif;
    /*font-size: clamp(1rem,5vw + 1rem, 8rem);*/
    font-size: clamp(1rem,7vw + 1rem, 10rem);
    font-weight:700;
}
.content img{
    /*height:clamp(1rem,3vw + 1rem, 8rem);*/
    height:clamp(1rem,5vw + 1rem, 7rem);
    margin-right:1rem;

}
.content p{
    margin:0;
    padding:0;
    margin-top:3rem;
    color:white;
    text-align:center;
    /*margin-right:25vw;*/
    margin-right:30vw;
    z-index:2;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem,1.5vw + 1rem, 5rem);
}

@media(max-width:1024px) {
    .content{
        justify-content: flex-start;
    }
    .content h1{
        margin-top:30vh;
        text-align:center;
        margin-right:0;
    }
    .content p{
        text-align:center;
        margin-right:0;
    }
    canvas {
        width:auto;
        transform:scale(0.6) translateX(5vw) translateY(15vh);
    }
}
@media (max-width:900px){
    canvas {
        transform:scale(0.6) translateX(5vw) translateY(10vh);
    }
}

@media (max-width:700px){
    .content{
        width:100%;
    }
    .content h1{
        margin-top:30vh;
        text-align:center;
        margin-right:0;
    }
    .content p{
        margin-top:1rem;
        text-align:center;
        margin-right:0;
    }
    canvas{
        transform: scale(0.4) translateX(15vw) translateY(40vh);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@1,700&display=swap');
