.panel {
    max-width: 100vw;
    width: 100vw;
    width: 100%;
    background-color: rgb(21, 0, 70);
    overflow: hidden;
}

.panel h1 {
    color: white;
    margin-left: 6vw;
    font-size: clamp(1rem, 4vw + 2rem, 6rem);
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
}

.workHolder {
    width: 100vw;
    height: 20vh;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    cursor: pointer;
    display:block;
}

.content {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    transition: linear 0.15s;
}

.inverse {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(21, 0, 70);
    transition: linear 0.15s;
}

.workHolder:hover>.content,
.workHolder:hover>.inverse {
    transform: translateY(-20vh);
}

.number {
    max-height: 40%;
    text-align: right;
    margin-right: 6vw;
    font-size: clamp(1rem, 3vw + 2rem, 4rem);
    font-family: 'Montserrat', sans-serif;

}

.projectTitle {
    max-height: 60%;
    margin-left: 6vw;
    font-size: clamp(1rem, 4vw + 2rem, 6rem);
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
}

.cursorIMG {
    position: fixed;
    width: 35vw;
    z-index: 20;
    border-radius: 8px;
    pointer-events: none;
}

@media(max-width:800px) {
    .workHolder {
        height: 8rem;
    }

    .number {
        font-size: clamp(1rem, 2vw + 1.5rem, 5rem);
    }

    .projectTitle {
        font-size: clamp(1rem, 2vw + 1.5rem, 5rem);
    }

    .workHolder:hover>.content,
    .workHolder:hover>.inverse {
        transform: translateY(-8rem);
    }
    .cursorIMG{
        width:45vw;
    }
}